<h1>Convert <%= @current %></h1>

<p>Go <a href = "/">back</a><p>

<ul>
  <% @currencies.each do |cur| %>
    <li>
      <p><a href="/<%= @current %>/<%= cur %>">Convert 1 <%= @current %> to <%= cur %></a></p>
    </li>
  <% end %>
</ul>
